@font-face {
    font-family: Alisandra-Regular;
    src: url(../Fonts/AlisandraDemo/Alisandra-Regular.ttf);
}
@font-face {
    font-family: NunitoSans-Regular;
    src: url(../Fonts/Nunito/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../Fonts/Lato/Lato-Regular.ttf);
}