.navbar-inverse {
  background-color: #3a3030;
  background-image: none;
  margin-bottom:0px;
  border-color:#5f5e5e;
}
.navbar-inverse .navbar-nav li a {
   letter-spacing: 0.2em;
   color:white;
}
.navbar-inverse .navbar-nav li a:hover {
     color:#b3b3b3;
}
.navbar-inverse .navbar-nav .dropdown li a{
  color:black;

}
.profile{
	color:black;
}
.logout{
	color:black;
}
.dropdown-menu>li>a{
	color:black;
}